.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  padding-inline: 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer-top-left {
  font-size: 16px;
  max-width: 310px;
}
.footer-top-left img {
  position: relative;
  right: 10px;
  margin-bottom: 10px;
}
.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-email-input {
  display: flex;
  gap: 30px;
  background-color: #32323b;
  padding: 20px 30px;
  border-radius: 50px;
  /* padding-right: 80px; */
}
.footer-email-input:hover {
  border: 2px solid white;
}
.footer-email-input input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Outfit;
  color: #a0a0a0;
}
.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  background: linear-gradient(270deg, #da7c25 0.35%, #b923e1 102%);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.footer-subscribe:hover {
  transform: scale(1.05);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 50px;
  }
  .footer-top-left {
    max-width: 100%;
  }
  .footer-top-right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footer-email-input {
    box-sizing: border-box;
    width: 100%;
  }
  .footer-subscribe {
    box-sizing: border-box;
    width: 100%;
  }
  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-inline: 30px;
  }
  .footer-top-left {
    font-size: 16px;
    width: 90%;
  }

  .footer-bottom {
    margin-bottom: 0;
    align-items: start;
  }
  .footer-bottom-left {
    align-self: center;
  }
  .footer-bottom-right {
    flex-direction: column;
    gap: 10px;
  }
}
